.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  margin-left: 0.5em;
}

.monsters-search-box {
  border-radius: 25px;
}
